@import url(https://fonts.googleapis.com/css?family=Palanquin:400,600&subset_latin,latin-ext);

header{
	width: 100%;
}
.container{
	width: 70%;
	margin: 0 auto;
}

.container2{
	width: 0%;
	margin: 0 auto;
}